*{
    margin: 0;
    padding: 0;
}
.clearfix{
    clear: both;
}
nav {
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    margin-bottom: 20px;
}
a {
    color: white;
    text-decoration: none;
    padding: 20px;
    float: left;
}
a:hover{
    background-color: #666;
}
#active{
    background-color: hotpink;
}
nav div {
    float: right;
}
section{
   padding-top: 20%;
   text-align: center;
}
main{
    padding-top: 100px;
    text-align: center;
 }
 input{
    padding: 10px;
 }
 input[type=submit]{
     border: 0;
     border-radius: 0;
     color: white;
     background-color:hotpink;
 }